.cbi-icon{
    color: rgba(0, 0, 0, 0.54);
    margin-left: 5%;
    width: auto;
}
.cbi-icon:hover{
    background-color: #ebebeb;;
    border-radius: 30px;
    cursor: pointer;
}
.MuiCardContent-root:last-child {
    /* padding-bottom: 24px; */
    padding: 5px !important;
}
.takenote-icons{
    display: flex;
    align-items: center;
     /* padding-left: 150px;  */
}
.icon-close{
    /* padding: 10px; */
    display: flex;
    justify-content: space-between;
}
.iconbtn{
    width: 80%;
    justify-content: space-between;
}
.takenote{
    padding: 0 10px;
    display: flex;
    justify-content: space-between;

}
.title {
    border: none;
    font-size: 18px;
    height: 50px;
  }
  .title2{
    border: none;
    font-size: 15px;
    height: 50px;
  
  }
  
  .title:focus-visible {
    border: none;
    font-size: 18px;
    outline: none;
  }
  .title2:focus-visible {
    border: none;
    font-size: 15px;
    outline: none;
  }
.action-btn {
    border: none;
    font-size: 16px;
    padding: 10px 30px;
}

.action-btn:hover {
    background-color: #9797971a;
}
@media only screen and (max-width :500px){
    .takenote{
        width: 100%;
        /* width: 320px; */
        flex-direction: column;
    }
}
@media only screen and (max-width :540px){
    .takenote{
        width: 100% !important;
        flex-direction: column;
    }
}